.boxnav{
    
    display: flex;
    justify-content: center;
    height: 100px;
}

.navlinc{
    
    color: #0849c2; 
    border-bottom: 1px dashed; 
    margin: 20px;
    font-family:'Times New Roman', Times, serif;
    Font-size: 28px;
    font-weight: 900;
  }
  .navlinc:visited {
    color: #e90f0f;
  }
.navlinc:hover {
    color: #0818ac; 
    border-bottom: .07em solid;
  }
.navlinc:active {
    color: #0401b9; 
    border-bottom: 1px dashed;
  }

  .boxtext{
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
}

  .conteinerradius{
    margin: 0 auto;
    border: 10px groove rgb(2, 2, 2);
    width: 400px;
    height: 200px;
    border-top-left-radius: 210px;
    border-top-right-radius: 210px;
    border-bottom: 0px;
    
}